.nigiri_screen {
  background-color: black;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 40px;
  min-height: 650px; /* 最小の高さを設定 */
}

.nigiri_container{
  display: flex;
}

.nigiris {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 20px;
}

.nigiri_button {
  background-color: white;
  color: black;
  padding: 10px;
  width: 250px;
  height: 250px;
  margin: 0 10px 10px 0;
}

.pagination {
  width: 870px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: auto; /* 自動的に上部のスペースを最大化 */
}

.page_button {
  background-color: azure;
  color: black;
  padding: 10px;
  height: 300px;
  width: 50px;
  margin-top: 80px;
}

.number {
  color: white;
  text-align: center;
  font-size: 30px;
}

.price {
  text-align: center;
  display: inline-block;
}