.top_button {
  background-color: red;
  color: white;
  padding: 10px;
}

.nigiri_button {
  background-color: lightgray;
  color: white;
  padding: 10px;
}

.main_order{
  display: flex;
  justify-content: space-around;
}

.submit_button {
  margin-bottom: 20px; /* 下にスペースを確保 */
}

.history_button {
  width: 100px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}

.history_button:hover {
  background-color: #45a049;
}

.fixed_buttons {
  position: fixed;
  top: 0%;
  right: 0;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
}